<div [ngClass]="{'hidden': state !== State.true}" #tabsetWrapper>
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab>
      <ng-template ngbTabTitle>
        Todolist
      </ng-template>
      <ng-template ngbTabContent>
        <app-todolist *ngIf="state === State.true"></app-todolist>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        Profile
      </ng-template>
      <ng-template ngbTabContent>
        <app-profile *ngIf="state === State.true"></app-profile>
      </ng-template>
    </ngb-tab>
    <div>
      <button>Register</button>
    </div>
  </ngb-tabset>
</div>

<div *ngIf="state !== State.true"
     class="d-flex justify-content-around flex-column init">
  <div class="d-flex justify-content-center">
    <div class="w-50 card">
      <div class="card-body" *ngIf="(state === State.false)">
        <div class="alert alert-primary" role="alert">
          App is not inited
        </div>
        <div class="d-flex justify-content-center action">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
      </div>
      <div class="card-body" *ngIf="(state === State.processing)">
        <div class="alert alert-primary" role="alert">
          App initialization
        </div>
        <div class="d-flex justify-content-center action">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
      </div>
      <div class="card-body" *ngIf="state === State.error">
        <div class="alert alert-danger" role="alert">
          Initialization error
        </div>
        <div class="d-flex justify-content-center action">
          <button class="btn btn-primary" (click)="reinit()">Try again</button>
        </div>
      </div>
    </div>
  </div>
</div>

<li class="d-flex justify-content-around flex-column nav-item panel hidden" #panel>
  <div class="d-inline-flex justify-content-between w-100" *ngIf="user">
    <div class="d-inline-flex">
      <div *ngIf="user?.isPermanent">
      <span>
        {{user.username}}
      </span>
      </div>
      <div class="d-inline-flex auth" *ngIf="!user.isPermanent">
        <div>
          <button class="btn btn-primary" (click)="openRegister()">Register</button>
        </div>
        <div>
          <button class="btn btn-secondary" (click)="openLogin()">Log&nbsp;in</button>
        </div>
      </div>
    </div>
    <div *ngIf="user">
      <button class="btn btn-danger" (click)="openLogout()">
        {{user.isPermanent ? 'Log&nbsp;out' : 'Purge'}}
      </button>
    </div>
  </div>
</li>
